
body {
  background-color: whitesmoke;
  max-width: 720px;
  padding: 24px 24px 24px 24px;
  margin: 24px auto;
  border: 5px solid black;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/*.content {
  max-width: 720px;
  margin: 54px auto;
}*/

/*.center {
  display: block;
  padding: 32px 32px;
  max-width: 480px;
  margin: 32px auto;
  border-width: 4px;
  border-color: black;
  width: 50%;
}*/

  p {
  color: black;
}

ul {
  color: darkblue;
}


#the_first_parag {
  color: black;
  text-shadow: white;
}


h1 {
  margin: 0;
  padding: 20px 0;
  text-align: center;
  text-shadow: 4px 8px 8px black;
  color: rgb(33, 33, 170);
  }

h5 {
  padding: 0px 0;
}  

  
img {
  display: block;
  padding: 32px 32px;
  background-color: white;
  /*max-width: 480px;*/
  margin: 32px auto;
  border: 5px solid black;
  border-radius: 10px;
  width: 50%;
}

[type='checkbox'] {
  margin-top: 10px; 
  margin-bottom: 10px;
}

a:hover {
  color: green;
}